*{
    padding: 0;
    margin: 0;
}
.khung{
    width: 90.3%;
    height: 50px;
    margin: 0 auto;
    position: fixed;
    background-color: rgb(187, 200, 206);
    border-radius: 10px;   
}
.hhh{
    text-decoration: none;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 12px;
    text-align: center;   
    color: black;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.chua{
    width: 100%;
    height: 50px;
    background-color: white;
}
img{
    width: 100%;
    height: 350px;
}
.goc{
    width: 60%;
    height: 400px;
}
.boxle{
    width: 8%;
    height: 500px;
    background-color: white;
    float: left;
}
.boximg{
    width: 46%;
    height: 500px;
    background-color: white;
    float: left;
}
.boxnd{
    width: 46%;
    height: 500px;
    float: left;
    background-color: white;
}
.box1{
    width: 31.3%;
    height: 280px;
    background-color: white;
    float: left;
}
.box2{
    width: 31.3%;
    height: 280px;
    background-color: white;
    float: left;
}
.box3{
    width: 31.3%;
    height: 280px;
    background-color: white;
    float: left;
}
.cachra_1{
    width: 50%;
    height: 250px;
    float: left;
    background-color: rgb(225, 233, 236);
    text-align: center;
}
.cachra_2{
    width:50%;
    height: 250px;
    float: left;
    background-color:rgb(225, 233, 236);
    text-align: center;
}
.for{
    font-size: 30px;
    padding-left: 50px;
    padding-top: 30px;
    color: black;
}
.hmenu{
    list-style: none;
    height: 50px;
    width: 700px;
    float: left;
}
.hmenu>li{
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin: 0 20px;
}
.hmenu>li>a:hover{
    color: red;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.hmenu>li>a{
    color: black;
}
.hmenu>li:hover .smenu{
    display: block;
}
.smenu{
    list-style: none;
    position: absolute;
    left: 0px;
    top: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: rgb(141, 151, 155);
    display: none;
}
.smenu li a{
    color: black;
    text-decoration: none;
    display: block;
    border-top: 1px solid grey;
    text-indent: 10px;
    line-height: 40px;
    border-radius: 5px;
    z-index: 1;

}
 .smenu li:hover{
    background-color: rgb(145, 168, 199);
}
.f{
    padding-left: 20px;
}
.cach{
    padding-right: 33.2px;
}
.hhhh{
    width: 100%;
    height: 500px;
    background-color: white;
}
.nho{
    width: 100%;
    height: 80%;
}
.ra{
    padding-top: 60px;
    padding-left: 50px;    
}
.raduoi{
    padding-top: 30px;
    padding-left: 50px;
}
.cho:hover{
    transform: scale(1.1);
    transition: 0.5s;
}